@tailwind base;
@tailwind components;
@tailwind utilities;

*{
     background-color:rgb(96, 165, 250);

}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: black;
     opacity: 1; /* Firefox */
   }